* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    width: 25vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px palevioletred solid;
}
.container > div {
    display: flex;
    text-align: center;
    height: 10vh;
}
.container > div > div {
    flex: 1;
    border: 2px purple solid;
    line-height: 10vh;
    font-size: 1.5rem;
}
.output {
    min-height: 100px;
    width: 100%;
    border: 2px grey solid;
}
#display {
    margin-left: auto;
    margin-top: auto;
    font-size: 1.5rem;
    font-weight: 400;
}
@media screen and (max-width: 750px){
    .container {
        width:55vw;
    }
}
@media screen and (max-width: 400px ){
    .container {
        width: 80vw;
    }
}

